.page {
  padding: 140px var(--pad) 80px;
  max-width: var(--maxw);
  margin: 0 auto;
}

.head {
  margin-bottom: 96px;
}

.headline {
  margin-top: 16px;
  max-width: 18ch;
}

.expHead {
  margin-bottom: 24px;
}

.expHeadline {
  margin-top: 8px;
  margin-bottom: 32px;
}
